@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --size: 1;
  --background: #000;
  --color1: #d25778;
  --color2: #ec585c;
  --color3: #e7d155;
  --color4: #56a8c6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(
  //     to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))
  //   )
  //   rgb(var(--background-start-rgb));
}

.innerDiv {
  margin-inline: auto;
}
@media only screen and (min-width: 280px) {
  .innerDiv {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .innerDiv {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media only screen and (min-width: 640px) {
  .innerDiv {
    padding-left: 60px;
    padding-right: 60px;
  }
  header .innerDiv {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .innerDiv {
    padding-left: 60px;
    padding-right: 60px;
  }
  header .innerDiv {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .overflow-y-scroll {
    height: 100vh !important;
  }
  .innerDiv {
    padding-left: 80px;
    padding-right: 80px;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .innerDiv {
    max-width: calc(1280px + 160px);
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1536px) {
  .innerDiv {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  header .innerDiv {
    padding-top: 0;
    padding-bottom: 0;
  }
}
main,
header,
footer {
  max-width: 2560px;
  margin: 0 auto;
}

.glitch {
  color: #ffffff;
  // font-size:100px;
  position: relative;
  // width:400px;
  margin: 0 auto;
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #ff0000;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

#custom-video .full-screen-video {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  background: #202020;
}
#custom-video #closeBtn {
  display: none;
}
#custom-video .full-screen-video #closeBtn {
  position: fixed;
  top: 5%;
  right: 5%;
  display: block;
  z-index: 9999999;
}
#custom-video .full-screen-video #closeBtn button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  color: #202020;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
}
#custom-video .full-screen-video video {
  -o-object-fit: contain !important;
  object-fit: contain !important;
  width: 100%;
  height: 100%;
}

#custom-video .full-screen-video .text,
#custom-video .full-screen-video .mute {
  display: none;
}
.bg-video {
  object-fit: cover;
}
.effect-code {
  transition: all 0.5s ease-out;
}
@media (min-height: 700px) {
  #custom-video {
    height: 650px !important;
  }
  .video-container {
    height: 650px !important;
  }
  .hero-video {
    height: 650px !important;
  }
  #product {
    height: 650px !important;
    .product-image {
      height: 650px !important;
    }
  }
}
@media (min-width: 1280px) and (min-height: 800px) {
  #custom-video {
    height: 800px !important;
  }
  .video-container {
    height: 800px !important;
  }
  .hero-video {
    height: 800px !important;
  }
  #product {
    height: 800px !important;
    .product-image {
      height: 800px !important;
    }
  }
}

.ticket {
  width: 650px;
  height: 320px;
  margin: 0 auto;
  position: relative;
  transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
  background: white;
  border-radius: 20px;
  padding: 5px;
}

.ticket:before,
.ticket:after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 2;
}

.ticket:before {
  background: white;
  left: -30px;
}

.ticket:after {
  right: -30px;
  background: white;
}

.ticket-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--background);
  border-radius: 15px;
}
.ticket-content-wrapper:before,
.ticket-content-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--background);
  z-index: 3;
}

.ticket-content-wrapper:before {
  left: -30px;
}

.ticket-content-wrapper:after {
  right: -30px;
}

.left,
.right {
  position: absolute;
  top: 110px;
  width: 50px;
  height: 100px;
  background: var(--background);
  z-index: 4;
}

.left {
  left: -50px;
}

.right {
  right: -50px;
}



.ticket-visual_ticket-number-wrapper {
  position: absolute;
  right: 35px;
  bottom: 0;
}

.ticket-visual_ticket-number {
  transform: rotate(90deg) translateY(calc(100px * var(--size)));
  transform-origin: bottom right;
  font-size: calc(35px * var(--size));
  font-weight: 700;
  text-align: center;
  padding-bottom: 35px;
  width: calc(320px - 10px);
  border-bottom: 2px dashed #333;
}

.ticket-mobile:before,
.ticket-mobile:after {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--background);
}

.ticket-mobile:before {
  border: 4px solid white;
  top: -32px;
  left: 50%;
  transform: translate(-50%, 0%) rotate(90deg);
  // transform: rotateX(90deg);
  clip-path: circle(65% at 100% 50%);
}

.ticket-mobile:after {
  border: 4px solid white;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, 0%) rotate(90deg) ;
  // transform: rotateX(90deg);
  clip-path: circle(65% at 0 50%);
}